


.body {
    background-color: lightgray;
    display: inline-flex;
    flex-wrap: wrap;
}


.links {
    background-color: lightgray;
    width: inherit;
    height: 20px;
    margin left: 20px;
    padding: 20px;
    
}



.link1 {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.link2 {
    text-decoration: none;
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.link3 {
    text-decoration: none;
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.link4 {
    text-decoration: none;
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.para1 {
    color: gray;
    text-align: center;
}

.para2 {
    color: rgb(36, 35, 35);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 50px;
}

.img1 {
    display: inline-block;
    margin: 30px;
    border: 20px;
    background-color: lightgray;
}

.text {
    margin: 21px;
}

.footer {
    background-color: black ;
    padding: 84px;
    height: 20px;
    text-align: center;
    color: lightgray;
}

.power {
    color: lightgray;
    font-family: cursive;
    
}